

html, body {
	font-family: sans-serif;
	height: 100%;
	margin: 0px;
	padding: 0px
}

.container {
	width: 100%;
}

.center {
	margin : auto;
	width : 50%;
}

.masthead {
	width : 100%;
	height: 90px;
	background-color: transparent;
	position: fixed;
	color : white;
	top: 0;
	z-index : 5;
	margin-bottom : -100px;
}

#masthead-inner {
	margin-left: 5px;
}
.masthead-title{
	font-size: 18;
	margin-bottom: 0;
	color: white;
}

.masthead-title > a:link {
	text-decoration: none;
}
.masthead-title > small a:link {
	text-decoration: none;
}

.masthead-title > a:visited {
	color: white;
	text-decoration: none;
}
.masthead-title > small a:visited {
	color: white;
	text-decoration: none;
}

.masthead-title a:hover {
	color: grey;
}

.masthead-title small a:hover {
	color: grey;
}


.masthead-title a:active {

}

.masthead > small {
	margin-top: 0em;
}

#main-body {
	position : relative;
	display : inline-block;
	width : 100%;

}

.main-body .main-child{
	/*margin-top: 200px; 
	border-style: double; */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#intro-text{
	position : absolute;
	/*
	border-style: double;
	border-color: red;
	*/
	background-color: transparent;
	color: white;
	width : 100%;
	text-align: center;
	padding : 150px 0;

	/*margin-left: 100px;*/
	/*margin-right: 100px;*/
	z-index: 2;
}

#intro-header {
	font-size: 30pt;
}

.body-image{
	position: static;
	margin-top : -90px;
	/*width: 100%; 
	margin-top: -150px; */
	height : 100vh;
	z-index : 0;
	/*border-style: double;
	border-color: blue;*/
	overflow : hidden;
}

#content-image{
	width : 100%;
/*
	left : -100%;
	right: -100%;
	top : -100%;
	bottom : -100%;
	*/
}

/*Portfolio items */
.portfolio-item {
	width: 100%;
	height: 300px;
	border-style: double;
	border-color: red;
	overflow: auto;

	margin-bottom: 30px;
}

/*Note: figure out a way of dynamic sizing, may have to use javascript or wrapper div*/
.portfolio-image{
	height: 100%;
	width: 300px;
	float: left;

}

/*Maybe all of this text should be in it's own div, to maintain the margin*/
.portfolio-title{
	margin-left: 330px;
	margin-right: 30px;
}

.portfolio-description{
	margin-left: 330px;
	margin-right: 30px;
}

/*May want to try aligning to bottom later*/
.portfolio-link{
	margin-left: 30px;
	margin-right: 30px;
}

.portfolio-keywords{
	margin-left: 30px;
	margin-right: 30px;
}

.heading{
	text-align: center;
	font-size: 30px;
}

.resume{
	width: 100%;
	height: 1200px;
}

.resumeJson{
	width: 100%;
	height: 1500px;
	display: none;
}

.resumeImage{
	width: 100%;
	display: none;
}

#myCanvas{ 
	height: 500px;
	width: 500px;
} 

#footer{
	position : absolute;

	background: white;
	z-index : 100;
}

#contact-list{
	list-style-type: none;
	list-style: none;
	padding-left: 0;
}

.contact-module {
	border-style: double;
	border-color: red;
	text-align: center;
}

/*Animations */

.animate-in {
	-webkit-animation : fadeIn .5s ease-in;
	animation : fadeIn .5s ease-in;
}

.animate-out {
	-webkit-transition : opacity .5s;
	transition : opacity .5s;
	opacity : 0;
}


@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to { opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}
